    body {
	font-family: Arial, Helvetica, sans-serif;
	background-color:#2b2b2b;
	background-image: -webkit-linear-gradient(white 2px, transparent 2px),
	  -webkit-linear-gradient(0, white 2px, transparent 2px),
	  -webkit-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
	  -webkit-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px; 
    }

    .device.phone.landscape {
        padding: 22px 79px;
        width: 637px;
        height: 367px;
        background: url(./image/phone-l.png) no-repeat;
    }
    .device.phone.portrait {
        padding: 78px 25px;
        width: 368px;
        height: 637px;
        background: url(./image/phone-p.png) no-repeat;
    }
    .device.tablet.landscape {
        padding: 83px 87px;
        width: 1014px;
        height: 896px;
        background: url(./image/tablet-l.png) no-repeat;
    }
    .device.tablet.portrait {
        padding: 87px 80px;
        width: 1014px;
        height: 896px;
        background: url(./image/tablet-p.png) no-repeat;
    }
    .iframe{
        border: 0;
    }

    .iframe.phone.landscape{
        width: 481px;
        height: 320px;
    }
    .iframe.phone.portrait{
        width: 320px;
        height: 481px;
    }
.iframe.tablet.landscape{
	width: 717px;
	height: 538px;
}
.iframe.tablet.portrait{
	width: 538px;
	height: 717px;
}

.fields{
	height: 34px;
	
	font-size: 16px;
	color: #123d54;
	
	background: -moz-linear-gradient(top,#afd9fa 0%,#588fad);
	background: -webkit-gradient(
linear, left top, left bottom, 
from(#afd9fa),
to(#588fad));
border-radius: 6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border: 1px solid #003366;
-moz-box-shadow:
	0px 1px 3px rgba(000,000,000,0.5),
	inset 0px 0px 1px rgba(255,255,255,1);
-webkit-box-shadow:
	0px 1px 3px rgba(000,000,000,0.5),
	inset 0px 0px 1px rgba(255,255,255,1);
text-shadow:
	0px -1px 0px rgba(000,000,000,0.7),
	0px 1px 0px rgba(255,255,255,0.3);
}
button{
       width: 210px;
       padding: 5px;
       
        
}
select {
        width: 268px;
        padding: 5px;
}